<p id="notice"><%= notice %></p>

<h1 id="top">Your restaurants:</h1>

<%= link_to 'New Restaurant', new_restaurant_path %>

<hr style="border-top: 2px solid #D03538;">

<% @restaurants.drop(rand(1..15)).reverse.each do |restaurant| %>
  <div class="restaurant">
    <%= link_to(restaurant) do %>
      <h3><%= restaurant.name %></h3>
    <% end %>
    <h4 style="color: #F0C330;"><%= '✰' * restaurant.stars %></h4>
    <h4><%= restaurant.address %></h4>
    <p><%= restaurant.description %></p>
    <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
     |
    <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %>
     |
    <a href="" class="reviews-link">Reviews</a>
    <br>
    <br>
    <div id="reviews" class="hidden" style="width: 50%; margin: 0 auto; border-top: 1px solid #EEE; padding: 16px 0;">
      <% if restaurant.reviews.empty? %>
        <p>This restaurant has no review yet.</p>
      <% else %>
        <% restaurant.reviews.each do |review| %>
          <strong><%= Faker::Name.name %>:</strong>
          <%= review.content %>
          <%= '✰' * (rand(5) + 1) %>
          <br>
        <% end %>
      <% end %>
    </div>
    <hr style="border-top: 1px solid #BBB;">
  </div>
<% end %>

<%= link_to "← Back", root_path %>

<script>
  const restaurants = document.querySelectorAll('.restaurant');

  restaurants.forEach((restaurant) => {
    const reviewsLink = restaurant.querySelector('.reviews-link');
    const reviews = restaurant.querySelector('#reviews');
    reviewsLink.addEventListener('click', (event) => {
      event.preventDefault();
      reviews.classList.toggle('hidden');
    });
  })
</script>
